.card{
    padding: 20px 30px;
    border: 2px solid rgb(30, 97, 253);
    min-width: 250px;
    max-width: fit-content;
    margin: 10px;
    border-radius: 8px;
    font-weight: 800;
    font-size: 25px;
}