*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Courier New', Courier, monospace;
    // font-family: 'Times New Roman', Times, serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login_screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h1{
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }
}
.login_container{
    max-width: 500px;
    width: 50%;
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    input{
        padding: 0 10px;
        height: 30px;
        border: 1px solid #e2e2e2;
        outline: none;
        box-shadow: none;
    }
    button{
        background: rgb(51, 134, 229);
        outline: none;
        border: none;
        color: #fff;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
    }
}

.flex{
    display: flex;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: calc(100vw - 250px);
    padding: 10px 20px;
}

.pagination{
    display: flex;
    list-style: none;
    margin: 25px 0 0 0;
    width: max-content;
    padding: 0;
    gap: 10px;
    li{
        border: 1px solid green;
        min-width: 25px;
        display: flex;
        height: 25px;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        &.active{
            background: green;
            color: #fff;
        }
    }
}